div{
  padding-top: 100px;
    text-align: center;
  margin-left: 200px;
}
body{
  background-color:#EAF6F6;
}

hr{
  border-style: none;
  border-top-style: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
h1,h2,h3{
  color: #66BFBF;
}
.circular{
  border-radius:  100%;
}
a:hover{
  background-color: lightblue;
}
.bottom{
  position: absolute;
    left: 300px;
}
.top{
  position: absolute;
  top: 10px;
  left: 100px;
}
.middle{
  position: absolute;
}
.mountain{
  position: relative;
  right : 70px;
}
